<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


    <div id="main">

        <div class="w3-teal" style="padding:5px;">
           <h1 style="text-align:center;">Otobüs Sistemi <a style="float:right; margin-left:-10%; margin-right:2%; color:red; font-size:25px;" href="/Users/CikisYap">Çıkış Yap</a></h1>
        </div>
        

        <div class="w3-container">
            @RenderBody()
        </div>

    </div>
</body>
</html>
